#footer {
  /* absolute bottom-0 left-0 w-screen h-8 sm:h-12 bg-[#343338] flex flex-col justify-center */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  background-color: #343338;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-text {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.semi-bold {
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  #footer {
    height: 32px;
  }

  .custom-text {
    font-size: 14px;
  }
}