body {
  /* background-image: url("/chesski-bg.png"); */
  /* background-size: cover; */
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

@media screen and (max-width: 640px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
